Repository smartsheet-platform/smar-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting would run here', echo 'Formatting would run here'

feat: add multi-region endpoint support, Docker deployment, and deletion safety controls
  .env.example
  README.md
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: http streamable, working
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: docker
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Due: none

docs: add HRIS implementation blueprint for Smartsheet
  HRIS_BLUEPRINT.md
Due: echo 'Formatting would run here'

docs: add session changelog with Comet verification checklist
  CHANGELOG_SESSION.md
Due: echo 'Formatting would run here'

feat(lint): add and configure eslint
  .eslintrc.json
  .ralphy/progress.txt
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/error-mapper.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat(ci): enable running tests in ci
  .github/workflows/release.yml
  .ralphy/progress.txt
  package-lock.json
  package.json
  src/index.test.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat(hooks): activate pre-commit hooks
  .lintstagedrc.json
  .ralphy/progress.txt
Due: echo 'Formatting would run here'

feat(tools): differentiate search tools
  .ralphy/progress.txt
  _bmad-output/planning-artifacts/prd.md
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat(delete): verify delete protection
  .ralphy/progress.txt
  _bmad-output/planning-artifacts/prd.md
  jest.config.js
  package.json
  src/apis/smartsheet-api.ts
  src/tools/smartsheet-sheet-tools.test.ts
  tsconfig.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat(design): design advanced filtering feature
  .ralphy/progress.txt
  _bmad-output/planning-artifacts/prd.md
Due: echo 'Formatting would run here'

chore: implement gitleaks secret scanner and hygiene checklist
  .husky/pre-commit
  gitleaks.toml
  package-lock.json
  package.json
  prd.md
Due: echo 'Formatting would run here'

chore: remove obsolete prd.md
  _bmad-output/planning-artifacts/prd.md
Due: echo 'Formatting would run here'

chore: configure prettier and run initial format
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

test: expand unit tests for sheet tools and fix esm config
  babel.config.cjs
  jest.config.js
  package-lock.json
  package.json
  src/tools/smartsheet-sheet-tools.test.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

chore: configure dependabot
  .github/dependabot.yml
Due: none

fix: resolve linting, type errors, and build issues
  package-lock.json
  package.json
  src/apis/smartsheet-discussion-api.ts
  src/apis/smartsheet-workspace-api.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.test.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  tsconfig.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: update installation, configuration, and deployment documentation
  README.md
  examples/config/claude_desktop_config.json.example
  examples/config/gemini_cli_config.json.example
  examples/config/windsurf_mcp_config.json.example
  fly.toml.example
  render.yaml.example
Due: echo 'Formatting would run here'

feat: add integration testing framework
  README.md
  jest.config.js
  package.json
  src/apis/smartsheet-sheet-api.ts
  tests/integration/harness.test.ts
  tests/integration/setup.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

test: add comprehensive tests for Story 2.2 - Add Rows hierarchy support
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/bmm-workflow-status.yaml
  _bmad-output/planning-artifacts/epics 2.md
  _bmad-output/planning-artifacts/implementation-readiness-report-2026-01-25 2.md
  _bmad-output/planning-artifacts/prd 2.md
  _bmad-output/test-design-system 2.md
  prd.md.bak
  src/apis/smartsheet-search-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/server.ts
  src/smartsheet-types/index.ts
  src/tools/smartsheet-docs-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.test.ts
  src/tools/smartsheet-sheet-tools.ts
  src/utils/error-mapper.ts
  tests/integration/harness.test.ts
  tests/unit/docs-tools.test.ts
  tests/unit/error-mapper.test.ts
  tests/unit/safety-layer.test.ts
  tests/unit/search-tools.test.ts
  tests/unit/sheet-tools-hierarchy.test.ts
  tests/unit/sheet-tools-summary.test.ts
  tests/unit/sheet-tools-truncation.test.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: add implementation readiness report and developer task list
  _bmad-output/planning-artifacts/implementation-readiness-report-2026-01-25.md
  ralphy-prd.md
Due: echo 'Formatting would run here'

feat: implement Epic 3 (Smart Retrieval) and Epic 4 (Reliability & Performance)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/stories/3-1-tool-filtered-read 2.md
  docs/stories/3-2-tool-paged-read 2.md
  docs/stories/4-1-reliability-utility-queue-concurrency 2.md
  docs/stories/4-2-performance-utility-metadata-cache 2.md
  docs/stories/4-3-resilience-policy-retries-rate-limits 2.md
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
  src/utils/cache.ts
  src/utils/queue.ts
  tests/unit/resilience.test.ts
  tests/unit/sheet-tools-hierarchy.test.ts
  tests/unit/smartsheet-filtered-read.test.ts
  tests/unit/smartsheet-paged-read.test.ts
  tests/unit/utils-cache.test.ts
  tests/unit/utils-queue.test.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: update README with new tools and features\nchore: bump version to 1.7.0
  README.md
  package.json
Due: echo 'Formatting would run here'

feat: add URL utility with EU/US region detection
  src/utils/url-utils.ts
Due: echo 'Linting would run here'

fix: add EU region validation to URL-based tools
  src/apis/smartsheet-api.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

docs: add EU region endpoint to config examples
  .env.example
  claude_desktop_config-example.json
Due: echo 'Formatting would run here'

feat: add sheet summary read/write tools
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

chore: update package-lock.json
  package-lock.json
Due: echo 'Formatting would run here'

fix: use correct 'ids' query param for delete summary fields
  src/apis/smartsheet-sheet-api.ts
Due: echo 'Linting would run here'

fix: align sheet summary API with OpenAPI spec
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

docs: fix outdated project structure and missing env var in README
  README.md
Due: echo 'Formatting would run here'

docs: document sheet summary CRUD tools in README
  README.md
Due: echo 'Formatting would run here'

feat: add HTTP/OAuth transport and granular delete flags
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: document PORT, ISSUER_URL, and JWT_SIGNING_KEY env vars
  README.md
Due: echo 'Formatting would run here'

fix: address security and code quality review findings
  README.md
  src/index.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

fix: use queryParams to prevent query parameter injection in search API
  .gitignore
  src/apis/smartsheet-search-api.ts
Due: echo 'Linting would run here'

fix: add numeric regex validation to all ID parameters
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
Due: echo 'Linting would run here'

fix: add email format validation to update request recipients
  src/tools/smartsheet-update-request-tools.ts
Due: echo 'Linting would run here'

Path conditions:
  echo 'Linting would run here': any of: *.{js,ts}
  echo 'Formatting would run here': any of: *.{json,md}
