Repository smartsheet-platform/smar-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting would run here', echo 'Formatting would run here'

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "echo 'Linting would run here'"
  ],
  "*.{json,md}": [
    "echo 'Formatting would run here'"
  ]
}

fix: add more logging for commit formatting
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: temporarily disable tests in ci
  .github/workflows/release.yml
Due: none

fix: use node 22, run on pull requests
  .github/workflows/release.yml
Due: none

fix: adds releaserc for explicity plugin definition
  .releaserc.json
Due: echo 'Formatting would run here'

fix: use smaller message
  .releaserc.json
Due: echo 'Formatting would run here'

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  a7d10756b9a058cd002fba75fb4625631f1e424a
Due: none

fix: remove asset ref
  .releaserc.json
Due: echo 'Formatting would run here'

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  1b43c88b60ad72813fd245d288afe57cc1f770f3
Due: none

chore: add a header to indicate source of calls
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

feat: adds ability to enable delete tools. disabled by default
  .env.example
  .github/workflows/release.yml
  README.md
  src/index.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

fis: better logg level
  src/index.ts
Due: echo 'Linting would run here'

fix: better log level
  src/index.ts
Due: echo 'Linting would run here'

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  56a1324316376b0f28ae3758bcdde252b1c7466f
Due: none

docs: add license and disclaimer
  README.md
Due: echo 'Formatting would run here'

docs: add Apache license
  LICENSE
Due: none

docs: remove license reference
  README.md
Due: echo 'Formatting would run here'

fix: use User-Agent header
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  f6c22f863c588f69573a704c4225aacdd55cf032
Due: none

chore: set the prepare script to run the build for npx usage
  package.json
Due: echo 'Formatting would run here'

feat: adds the ability to send update requests and discussions
  src/index.ts
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

fix: dont convert to string
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

fix: fix the bad code suggestion
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  b2581476797963a9a44f42174dedf936f0f0a360
Due: none

add endpoint configuration to .env
  .env.example
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

Adds tools for creating and retrieving workspaces and folders
  src/index.ts
  src/smartsheet-direct-api.ts
  src/smartsheet-types/SmartsheetFolder.ts
  src/smartsheet-types/SmartsheetWorkspace.ts
Due: echo 'Linting would run here'

Corrected wording
  src/index.ts
  src/smartsheet-direct-api.ts
Due: echo 'Linting would run here'

Changes it to a Remote MCP Server
  .dev-example.vars
  .gitignore
  claude_desktop_config-example.json
  package-lock.json
  package.json
  src/index.ts
  src/smartsheet-direct-api.ts
  tsconfig.json
  worker-configuration.d.ts
  wrangler.jsonc
Due: echo 'Linting would run here', echo 'Formatting would run here'

Changes it to a Remote MCP Server
  package-lock.json
  package.json
  smartsheet.json
  src/index.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

Add MseeP.ai badge to README.md
  README.md
Due: echo 'Formatting would run here'

refactor: migrate to Cloudflare Workers architecture using Hono and MCP Agent
  .env.example
  .gitignore
  README.md
  biome.json
  claude_desktop_config-example.json
  package-lock.json
  package.json
  src/index.ts
  src/smartsheet-direct-api.ts
  tsconfig.json
  worker-configuration.d.ts
  wrangler.jsonc
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: add deployment instructions to README
  README.md
Due: echo 'Formatting would run here'

build: changes to create and publis node package
  package-lock.json
  package.json
  src/index.ts
  src/smartsheet-direct-api.ts
  src/smartsheet-utils.ts
  src/smartsheet-workflows.ts
  tsconfig.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

chore: simplify build script and add npm publish command
  package.json
Due: echo 'Formatting would run here'

fix: update publish script to build before publishing
  package.json
Due: echo 'Formatting would run here'

chore: fix indentation in package.json build script
  package.json
Due: echo 'Formatting would run here'
