Repository smartsheet-platform/smar-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting would run here', echo 'Formatting would run here'

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "echo 'Linting would run here'"
  ],
  "*.{json,md}": [
    "echo 'Formatting would run here'"
  ]
}

fix: sanitize error and request logs to prevent token leakage
  jest.config.js
  src/apis/__tests__/smartsheet-api.test.ts
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here'

ci: add PR workflow for build and test
  .github/workflows/ci.yml
Due: none

fix: add @types/jest and exclude tests from build
  package-lock.json
  package.json
  tsconfig.json
Due: echo 'Formatting would run here'

chore: add eslint config and fix lint errors
  .eslintrc.json
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-workspace-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

ci: opt into Node.js 24 for GitHub Actions
  .github/workflows/ci.yml
Due: none

ci: update GitHub Actions to use latest versions of checkout and setup-node
  .github/workflows/ci.yml
Due: none

fix: replace z.any() with typed union for cell values
  src/tools/__tests__/smartsheet-sheet-tools.test.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

feat: add create_sheet_in_workspace/folder_from_template tools
  README.md
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: persistent sessions, refresh tokens, OAuth state fix
  src/index.ts
Due: echo 'Linting would run here'

feat: add flake.nix with buildNpmPackage and nixosModules.default
  flake.nix
Due: none

fix: include node_modules in installPhase output
  flake.nix
Due: none

chore: bump Node.js to 25 and update dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

chore: update @typescript-eslint packages to version 8.0.0
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

fix: enforce HTTPS for Smartsheet API endpoint
  src/apis/__tests__/smartsheet-api.test.ts
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here'

test: add HTTPS enforcement edge-case tests
  src/apis/__tests__/smartsheet-api.test.ts
Due: echo 'Linting would run here'

ci: enable tests in release workflow
  .github/workflows/release.yml
Due: none

test: add strict equality checks for SmartsheetAPI constructor
  src/apis/__tests__/smartsheet-api.test.ts
Due: echo 'Linting would run here'

fix: use strict equality checks for access token and base URL validation
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here'

fix: update actions/checkout and actions/setup-node to specific versions in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: bump version to 1.6.1 in package.json and package-lock.json
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

docs: update README to indicate project deprecation and redirect to official Smartsheet MCP server
  README.md
Due: echo 'Formatting would run here'

fix(tools): add missing inputSchema on get_current_user and list_users (#79)
  src/tools/__tests__/tool-registration-shape.test.ts
  src/tools/smartsheet-user-tools.ts
Due: echo 'Linting would run here'

feat: add URL utility with EU/US region detection
  src/utils/url-utils.ts
Due: echo 'Linting would run here'

docs: add EU region endpoint to config examples
  .env.example
  claude_desktop_config-example.json
Due: echo 'Formatting would run here'

fix: add EU region validation to URL-based tools
  src/apis/smartsheet-api.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

test(utils): add Jest coverage for url-utils (parseSmartsheetUrl, detectApiRegion, validateRegionMatch)
  src/utils/__tests__/url-utils.test.ts
Due: echo 'Linting would run here'

ci(release): pre-flight check NPM_TOKEN with actionable error (refs #94)
  .github/workflows/release.yml
Due: none
