Repository smartsheet-platform/smar-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting would run here', echo 'Formatting would run here'

docs: add missing param annotation for level in logger debug method
  src/utils/logger.ts
Due: echo 'Linting would run here'

feat: implement Winston logger with configurable log levels and formatting
  package-lock.json
  package.json
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: configs semantic release to publish to npm
  .releaserc.json
  package.json
Due: echo 'Formatting would run here'

feat: add my-tasks prompt and refactor server initialization with capabilities
  src/index.ts
  src/prompts/index.ts
Due: echo 'Linting would run here'

fix: update User-Agent header to use correct app name in Smartsheet API requests
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here'

fix: push package.lock
  package-lock.json
Due: echo 'Formatting would run here'

chore: add NPM_TOKEN secret to release workflow for semantic-release
  .github/workflows/release.yml
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  358f1085fb1ac37758368c5dc8f1f638e9d79eae
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  292f07e0bd1991dfc31b62700ff4ca9f5135c63e
Due: none

chore: update package-lock.json dependencies
  package-lock.json
Due: echo 'Formatting would run here'

Update README.md with correct reference to git repo
  README.md
Due: echo 'Formatting would run here'

chore: update example config to use npx for running smar-mcp package
  claude_desktop_config-example.json
Due: echo 'Formatting would run here'

feat: implement MCP prompts infrastructure and core project management prompts
  .eslintrc.cjs
  .gitignore
  package-lock.json
  package.json
  src/index.ts
  src/prompts/__tests__/core-prompts.test.ts
  src/prompts/__tests__/prompt-handler.test.ts
  src/prompts/core-prompts.ts
  src/prompts/prompt-handler.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

docs: improve API endpoint coverage table based on review feedback
  README.md
Due: echo 'Formatting would run here'

Feature: Add Get Sheet Shares
  package.json
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

Add support for get_sheet_shares_by_url
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here'

feat: add GitHub pull request and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/pull_request_template.md
  .gitignore
  CLAUDE.md
Due: echo 'Formatting would run here'

chore: Update CLAUDE.md file
  CLAUDE.md
Due: echo 'Formatting would run here'

refactor: address code review comments
  .gitignore
  CLAUDE.md
  src/prompts/__tests__/prompt-handler.test.ts
  src/prompts/prompt-handler.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

Update src/prompts/prompt-handler.ts
  src/prompts/prompt-handler.ts
Due: echo 'Linting would run here'

Revert "Logging refactor"
  claude_desktop_config-example.json
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  0b3045ac39dd3d1fe8131b88668de3d26f338400
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: echo 'Formatting would run here'

Notes added by 'git notes add'
  b62ae5b451ee2f031a55eacb5e48a8970d47fbda
Due: none

Revert "Revert "Logging refactor""
  claude_desktop_config-example.json
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

ci: enhance GitHub Actions pipeline with PR validation
  .github/badges/.gitkeep
  .github/pull_request_template.md
  .github/workflows/coverage-badge.yml
  .github/workflows/dependency-check.yml
  .github/workflows/pr-description-validation.yml
  .github/workflows/pr-title-validation.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .releaserc.json
  CLAUDE.md
  README.md
  claude_desktop_config-example.json
  docs/code-coverage.md
  docs/release-process.md
  docs/semantic-release-plan.md
  docs/tool-coverage.md
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/user-tools.test.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

fix: add ESLint config and fix PR description workflow permissions
  .eslintrc.js
  .github/workflows/pr-description-validation.yml
Due: echo 'Linting would run here'

fix: update ESLint config to use JSON format and disable coverage temporarily
  .eslintrc.js
  .eslintrc.json
  .github/workflows/pr-validation.yml
Due: echo 'Linting would run here', echo 'Formatting would run here'

ci: temporarily skip linting in PR validation workflow
  .eslintrc.json
  .github/workflows/pr-validation.yml
  package.json
  src/index.ts
  src/tools/smartsheet-search-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: implement MCP structured logging
  .env.example
  .eslintrc.json
  README.md
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/__tests__/logger.test.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: enhance logger with MCP notification support
  .env.example
  CLAUDE.md
  README.md
  docs/MCP-Research/SMAR-MCP-Improvement-Plan.md
  src/index.ts
  src/server/logging-capability.ts
  src/server/notification-helpers.ts
  src/utils/__tests__/logger.test.ts
  src/utils/__tests__/notification-logger.test.ts
  src/utils/logger.ts
  src/utils/notification-logger.ts
  tsconfig.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

Update src/utils/logger.ts
  src/utils/logger.ts
Due: echo 'Linting would run here'

fix: replace String.match() with RegExp.exec() for better adherence to linting rules
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/__tests__/logger.test.ts
  src/utils/logger.ts
Due: echo 'Linting would run here'

docs: add error handling conventions to CLAUDE.md
  CLAUDE.md
Due: echo 'Formatting would run here'

ci: add GitLab CI pipeline for testing and publishing npm package
  .gitlab-ci.yml
Due: none

fix(tools): user tool missing schema parameters
  src/tools/smartsheet-user-tools.ts
Due: echo 'Linting would run here'

Path conditions:
  echo 'Linting would run here': any of: *.{js,ts}
  echo 'Formatting would run here': any of: *.{json,md}
