Repository smartsheet-platform/smar-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting would run here', echo 'Formatting would run here'

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "echo 'Linting would run here'"
  ],
  "*.{json,md}": [
    "echo 'Formatting would run here'"
  ]
}

refactor: reorganize Smartsheet API into modular TypeScript classes
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-folder-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/apis/smartsheet-user-api.ts
  src/apis/smartsheet-workspace-api.ts
  src/index.ts
  src/smartsheet-direct-api.ts
  src/smartsheet-utils.ts
  src/smartsheet-workflows.ts
  tests/test-archive-sheet-in-folder.js
  tests/test-archive-sheet.js
  tests/test-copy-sheet-to-folder.js
  tests/test-direct-api.js
  tests/test-version-restore-properties.js
  tests/test-workspace-folders.js
Due: echo 'Linting would run here'

test: add Jest config and unit tests for Smartsheet API classes
  jest.config.js
  package-lock.json
  package.json
  src/apis/__tests__/smartsheet-folder-api.test.ts
  src/apis/__tests__/smartsheet-sheet-api.test.ts
  src/apis/__tests__/smartsheet-user-api.test.ts
  src/apis/__tests__/smartsheet-workspace-api.test.ts
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-folder-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/apis/smartsheet-user-api.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

test: add comprehensive test suite for Smartsheet MCP server tools and handlers
  src/__tests__/index.test.ts
Due: echo 'Linting would run here'

test: add comprehensive test coverage for Smartsheet API handlers and server initialization
  src/__tests__/index.test.ts
Due: echo 'Linting would run here'

docs(readme): Add API endpoint coverage table
  README.md
Due: echo 'Formatting would run here'

feat: add dotenv configuration and .roo directory to gitignore
  src/index.ts
Due: echo 'Linting would run here'

chore: add dotenv dependency and ignore .roo directory
  .gitignore
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

Apply suggestions from code review
  src/apis/smartsheet-api.ts
Due: echo 'Linting would run here'

chore: configure Jest test framework and update build scripts
  jest.config.js
  package-lock.json
  package.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

fix: change error log to info level for sheet copy result
  src/apis/smartsheet-sheet-api.ts
Due: echo 'Linting would run here'

refactor: organize tools into separate modules and add search functionality
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-search-api.ts
  src/index.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add search endpoints for folders, workspaces, reports and dashboards
  package-lock.json
  package.json
  src/apis/smartsheet-search-api.ts
  src/tools/smartsheet-search-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

Update src/tools/smartsheet-workspace-tools.ts
  src/tools/smartsheet-workspace-tools.ts
Due: echo 'Linting would run here'

feat: add searchSheet API endpoint and tool for searching within specific sheets
  package-lock.json
  package.json
  src/apis/smartsheet-search-api.ts
  src/tools/smartsheet-search-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

fix: correct API endpoint path from /search/sheet to /search/sheets
  src/apis/smartsheet-search-api.ts
Due: echo 'Linting would run here'

chore: bump version to 0.0.5
  package.json
Due: echo 'Formatting would run here'

chore: bump package version to 0.0.6
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

feat: add list users API endpoint and tool command
  package-lock.json
  package.json
  src/apis/smartsheet-user-api.ts
  src/tools/smartsheet-user-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: replace console logging with structured winston logger
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

chore: bump package version from 0.0.7 to 0.0.8
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

chore: update package.json with metadata, scripts, and publishing config
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

feat: implement platform-specific log rotation with winston-daily-rotate-file
  package-lock.json
  package.json
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add get_sheet_by_url tool and support for directIdToken sheet retrieval
  package-lock.json
  package.json
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add discussion management tools and API endpoints for sheets and rows
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-discussion-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

refactor: replace winston logger with console logging
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

refactor: remove create_sheet_discussion tool and bump version to 0.0.18
  package-lock.json
  package.json
  src/tools/smartsheet-discussion-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

refactor: move discussion methods from sheet API to dedicated discussion API with pagination support
  package-lock.json
  package.json
  src/apis/smartsheet-discussion-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add what_am_i_assigned_to tool for finding user's assigned tasks in a sheet
  package-lock.json
  package.json
  src/tools/smartsheet-search-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add sheet search by URL and row retrieval endpoints with pagination support
  package-lock.json
  package.json
  src/apis/smartsheet-sheet-api.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

chore: bump package version from 0.0.25 to 0.0.27
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

chore: bump version from 0.0.27 to 1.0.0 for initial stable release
  package-lock.json
  package.json
Due: echo 'Formatting would run here'

docs: update disclaimer with clearer message
  README.md
Due: echo 'Formatting would run here'

refactor: migrate tools to new MCP SDK interface using object-based handlers
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
Due: echo 'Linting would run here'

refactor: migrate to new Server class and implement centralized tool management
  src/index.ts
Due: echo 'Linting would run here'

feat: update User-Agent header to include package version in API requests
  package-lock.json
  package.json
  src/apis/smartsheet-api.ts
  tsconfig.json
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: add logger utility and replace console logging with structured logging
  claude_desktop_config-example.json
  src/apis/smartsheet-api.ts
  src/apis/smartsheet-sheet-api.ts
  src/index.ts
  src/tools/smartsheet-discussion-tools.ts
  src/tools/smartsheet-folder-tools.ts
  src/tools/smartsheet-search-tools.ts
  src/tools/smartsheet-sheet-tools.ts
  src/tools/smartsheet-update-request-tools.ts
  src/tools/smartsheet-user-tools.ts
  src/tools/smartsheet-workspace-tools.ts
  src/utils/logger.ts
Due: echo 'Linting would run here', echo 'Formatting would run here'

feat: implement logging methods with level-based debug output
  src/utils/logger.ts
Due: echo 'Linting would run here'
